@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

* {
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.body-rise {
  background-image: url("../img/sunrise.png");
}

.body-day {
  background-image: url("../img/day.png");
}

.body-set {
  background-image: url("../img/sunset.png");
}

.body-night {
  background-image: url("../img/night.png");
}
