@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html,
body {
  min-height: 100%;
  margin: 0;
  background-image: url("../img/sunrise.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

