.toggleCF {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  height: auto;
  width: 60px;
  border-radius: 10px;
  padding: 1px;
  justify-content: right;
  font-size: 14px;
}

.toggleF {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
}

.toggleC {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
}

.toggleF:hover {
  background-color: rgb(80, 202, 141);
  color: white;
}

.toggleC:hover {
  background-color: rgb(80, 202, 141);
  color: white;
}
