<!-- forecast.html - displays the forecast basic weather information-->

<div class="individual-day">
  <!-- button that routes to "#/weather-display/$index", where
  $index (whole integer) references the selected day the user has clicked-->
  <a href="#/weather-display/{{index}}">
    <button type="button" class="btn btn-info">
      {{ forecast.date_epoch * 1000 | date:"EEEE, d'th' MMMM" }}
    </button>
  </a>
  <table class="table">
    <tr>
      <td>
        Max: {{ scale==='c' ? forecast.day.maxtemp_c + ' °C' :
        forecast.day.maxtemp_f + ' °F' }}
      </td>
      <td>
        Min: {{ scale==='c' ? forecast.day.mintemp_c + ' °C' :
        forecast.day.mintemp_f + ' °F' }}
      </td>
    </tr>
  </table>

  <p class="forecast-condition">{{ forecast.day.condition.text }}</p>
  <img class="weather-icon" src="{{ forecast.day.condition.icon }}" />
</div>
